
:root {
  --basic-bg: #FFFFFF;
  --secondary-bg: #F1F1F1;
  --mask-bg: rgba(0, 0, 0, 0.43);

  --light-bg: #F9F9FB;
  --accent-bg: #5D16D5;

  --basic-text: #000000;
  --invertedBasic-text: #FFFFFF;
  --alert-text: tomato;

  --basic-buttons-bg: #C7D2E9;
  --basic-buttons-bg-hover: #9BAFD8;

  --basic-white: #FFFFFF;
  --basic-black: #000000;

  --main-font: 'Roboto', Arial, Helvetica, sans-serif;

  --basic-font-size: 22px;
  --s-font-size: 16px;
  --m-font-size: 18px;
  --l-font-size: 26px;
  --xl-font-size: 50px;
  --form-font-size: 30px;

  --basic-line-height: 26px;
  --s-line-height: 19px;
  --m-line-height: 21px;
  --l-line-height: 30px;
  --xl-line-height: 59px;
  --form-line-height: 35px;

  --padding-main: 200px;
}

html {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #5D16D5;
  outline-offset: 5px;
  border-radius: 3px;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  padding: 0;
  font-family: var(--main-font);
  font-size: var(--basic-font-size);
  line-height: var(--basic-line-height);
  font-weight: 400;
  color: var(--basic-text);
  background-color: var(--basic-bg);

  min-height: 100%;
  min-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 118px;
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}

.header__wrapper-right {
  display: flex;
}

/* Nav */

.nav__list {
  display: flex;
  justify-content: space-between;
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}

.nav__item {
  height: 48px;
}

.nav__link {
  color: var(--basic-text);
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}

.nav__link:hover {
  background-color: var(--basic-buttons-bg);
  transition: background-color 0.3s;
}

/* Search */

.search__input {
  font-size: var(--basic-font-size);
  width: 295px;
  height: 48px;
  border: 2px solid var(--basic-black);
  border-radius: 24px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--light-bg);
}

.search__submit {
  font-size: var(--basic-font-size);
  padding-left: 10px;
  padding-right: 10px;
  height: 48px;
  border: 2px solid var(--basic-black);
  border-radius: 4px;
  background-color: var(--light-bg);
}

.search__submit:hover {
  background-color: var(--basic-buttons-bg);
  cursor: pointer;
}

.search__submit:active {
  opacity: 0.7;
}

/* Skiplinks */

.skiplink {
  position: absolute;
  top: -200px;
  left: 2px;
  transition: top 0.2s;
}

.skiplink:focus {
  top: 20px;
}

.streams-heading {
  position: relative;
}

.skiplink-iframe {
  position: absolute;
  top: 0;
  left: -1000px;
  transition: left 0.2s;
}

.skiplink-iframe:focus {
  left: 50%;
  transform: translateX(-50%);
}

/* Blue-control */

.blue-control {
  font-size: 22px;
  color: var(--basic-black);
  background-color: var(--basic-buttons-bg);
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.blue-control:hover {
  background-color: var(--basic-buttons-bg-hover);
}

.blue-control--active {
  text-decoration: none;
  cursor: default;
}

.blue-control--active:hover {
  background-color: var(--basic-buttons-bg);
}

/* Slider */

.current-events {
  position: relative;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 1032px;
  height: 600px;
  background-color: var(--secondary-bg);
  margin: 0 auto;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide--current {
  display: block;
}

.slide-photos {
  width: 47%;
  line-height: 0;
  text-align: right;
  margin-right: auto;
}

.slide-photos__photo {
  line-height: 0;
  display: inline-block;
}

.slide-photos__photo--top {
  margin-bottom: 25px;
}

.button {
  border: none;
  display: block;
  width: 76px;
  height: 76px;
  background-color: var(--accent-bg);
  background-image: url("img/feedback-slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.button:active {
  opacity: 0.5;
}

.button--prev {
  position: absolute;
  top: 50%;
  left: 200px;
  transform: rotate(180deg) translateY(30%);
}

.button--next {
  position: absolute;
  top: 50%;
  right: 200px;
  transform: translateY(-30%);
}

.slide__link {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background-color: var(--secondary-bg);
  z-index: 10;
}

.slide__pseudobutton {
  position: absolute;
  left: 46px;
  bottom: 84px;
  display: block;
  padding: 18px 40px;
  color: var(--invertedBasic-text);
  background-color: var(--accent-bg);
  border-radius: 8px;
  text-decoration: none;
  z-index: 20;
}

.slide__pseudobutton:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.slide__pseudobutton:active {
  opacity: 0.5;
}

/* Exhibitions */

.main__exhibitions {
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}

/* About museum */

.main__about-museum {
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}

/* Museum buildings card */

.museum-buildings__card {
  position: relative;
}

.museum-buildings__card-link:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Streams */

.main__streams {
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}

/* Zoom exhibitions */

.main__zoom-exhibitions {
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--secondary-bg);
  padding: 70px var(--padding-main);
}

/* Nav secondary */

.nav-secondary {
  display: flex;
  flex-direction: column;
}

.nav-secondary__link {
  font-size: var(--m-font-size);
  line-height: var(--m-line-height);
  color: var(--basic-text);
}

.nav-secondary__link + .nav-secondary__link {
  margin-top: 20px;
}

.nav-secondary__link:hover {
  text-decoration: none;
}

.nav-secondary__link:active {
  opacity: 0.7;
}

/* Social */

.social__wrapper {
  display: flex;
}

.social__link {
  display: flex;
  background-color: transparent;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  line-height: 0;
  font-size: 0;
}

.social__link + .social__link {
  margin-left: 24px;
}

.social__link:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.social__link:active {
  opacity: 0.4;
}

/* Subscription */

.subscription__form {
  display: flex;
  flex-direction: column;
}

.subscription__heading {
  font-size: var(--l-font-size);
  line-height: var(--l-line-height);
  margin-top: 0;
  margin-bottom: 10px;
}

.subscription__item + .subscription__item {
  margin-top: 16px;
}

.subscription__wrapper {
  display: flex;
  margin-top: 16px;
}

.subscription__input-check {
  margin: 0;
  width: 24px;
  height: 24px;
}

.subscription__input-email {
  width: 300px;
  height: 48px;
  padding: 0 24px;
  border: 2px solid var(--basic-black);
  border-radius: 4px;
  font-size: var(--m-font-size);
  line-height: var(--m-line-height);
}

.subscription__label-check {
  margin-left: 8px;
}

.subscription__label-email,
.subscription__label-check {
  font-size: var(--m-font-size);
  line-height: var(--m-line-height);
}

.subscription__button {
  padding: 12px 0;
  width: 150px;
  color: var(--invertedBasic-text);
  background-color: var(--accent-bg);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: var(--m-font-size);
  line-height: var(--m-line-height);
  cursor: pointer;
}

.subscription__button:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.subscription__button:active {
  opacity: 0.5;
}

/* Modal */

.modal-login {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 580px;
  padding: 70px 150px;
  background-color: var(--basic-white);
  border-radius: 8px;
  z-index: 150;
}

.modal-login.opened {
  display: flex;
}

.modal-login__wrapper-input {
  display: flex;
  flex-direction: column;
}

.modal-login__label {
  font-size: var(--form-font-size);
  line-height: var(--form-line-height);
  padding-bottom: 10px;
}

.modal-login__input {
  font-size: var(--form-font-size);
  line-height: var(--form-line-height);
  height: 65px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-login__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--invertedBasic-text);
  background-color: var(--accent-bg);
  display: block;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-login__mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--basic-black);
  opacity: 0.6;
  overflow: hidden;
  z-index: 100;
}

.modal-login__mask.opened {
  display: block;
}

.error {
  /*visibility: hidden;*/
  color: var(--alert-text);
  font-size: var(--s-font-size);
}
